.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
    margin-bottom: 3%;
}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}


/* ................................................*/

.left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    /* margin-left: 35.44px;
  margin-right: 35.4px; */
    margin-bottom: 29.46px;
}

.left_1-2 {
    position: relative;
    width: 67px;
    height: 21px;
    margin-bottom: 7px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #2B2B2B;
}

.left_1-3 {
    position: relative;
    width: 148px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #767676;
}

/* ........................ */

.left_icons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 238px;
    margin-top: 19px;
}

.link_href {
    text-decoration: none;
    color: black;
    /* Havola ostidagi chiziqni olib tashlash va qora rang berish */
}

.icon {
    position: relative;
    width: 25px;
    height: 25px;
    /* Dumaloq bo'lishi uchun width bilan bir xil qildik */
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    /* Yellow */
    /* background: #ffb400; */
}

.icon-1 {
    position: relative;
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.86px;
}

/* ................................................ */



.main_frame .left_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 221px;
    height: 126px;
    margin-left: 25px;
}

.left_2-1,
.left_3-1,
.left_4-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

/* .......................................................... */


.main_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
   top: -30px;
    left: 25px;
}

.left_3 p,
.left_4 p,
.left_5 p {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #f0f0f0;
    /* Orqa fon (bo'sh qismi) */
    border-radius: 10px;
    overflow: hidden;
    padding: 2px;
}

.progress {
    height: 80%;
    background-color: #ffc107;
    /* Sariq foiz chizig'i */
    border-radius: 10px;
}


/* ....................... */

.main_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
   top: -30px;
    left: 25px;
}

.main_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    top: -30px;
    left: 25px;
}

.left_5-1 span {
    position: absolute;
    left: 30px;
}

.main_frame .marginer {
    width: 228px;
    height: 0px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 30px;
    /* Background */
    border: 1.5px solid #f0f0f6;
}
.extraBtn{
    margin-bottom: -15px;
}
.btnDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFB400;
    justify-content: space-evenly;
    width: 220px;
    height: 40px;
    left: 15px;
    margin-bottom: 35px;
    padding: 10px;
}

/*  */
.main_frame .midd_frame {
    position: relative;
    width: 970px;
    /* height: 1259px; */
    margin-left: 30px;
    margin-right: 27px;
    margin-top: -955px;
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
}

.midmainInfo {
    position: relative;
    display: flex;
}

.midmainInfo h1 {
    position: relative;
    width: 500;
    height: 118px;
    top: 35px;
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-size: 60px;
    line-height: 124%;
    letter-spacing: 0%;
    margin-left: 45px;
}

.midmainInfo p {
    position: relative;
    width: 424px;
    height: 88px;
    top: 30px;
    left: 5px;
    opacity: 1;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 45px;
    opacity: 0.6;
}

.hireDiv {
    position: relative;
    background: #FFB400;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 120px;
    padding: 15px;
    border-radius: 5px;
    margin-left: 45px;
    justify-content: space-around;
}

.hireDiv div {
    font-size: 20px;
}

.hireDiv img {
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

.mid1-1 {
    position: relative;
    top: 15px;
    left: 15px;
}

.mid2-1 {
    position: relative;
    top: 60px;
    left: 525px;
}

.mid3 {
    position: relative;
    top: 70px;
    left: 840px;
}

.mid2-2 {
    position: relative;
    top: 435px;
    left: 40px;
}

.mid4 {
    position: relative;
    top: 345px;
    left: 275px;
}


.mid1-2 {
    position: relative;
    top: 400px;
    left: 460px;
}

.mid5 {
    position: relative;
    left: 775px;
    top: 440px;
}

.midBottom {
    position: relative;
    top: 150px;
    text-align: center;
}
.midP{
    display: inline-block;
    width: 435px;
    opacity: 0.5;
}

/* midbottom */

.mycontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.mycontainer .cards {
   margin: 10px;
}
.mycontainer .cards div{
    width: 310px;
    height: 225px;
    background: white;
    margin-top: 20px;
}
.mycontainer .cards img{
   margin-top: 25px;
}

.adv{
    position: relative;
    top: 25px;
}
.orderP{
    position: relative;
    top: -25px;
    font-size: 15px;
    color: #FFB400;
}
.orderP img{
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
}


/* ........................... */

.main_frame .right_frame {
    position: relative;
    width: 180px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right_frame img{
    margin: 15px;
}
